<body>
    <main class="container">
        <form>
            <h1><img src="assets/logoSemFundo.png" alt="logo" style="width: 200px; display: block; margin: 0 auto;">
            </h1>
            <div class="input-box">
                <input placeholder="Email" type="email" name="input-email" [(ngModel)]="cliente.email" maxlength="40" required>
                <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                <input placeholder="Senha" type="password" name="input-senha" [(ngModel)]="cliente.senha" maxlength="20" required>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="input-box">
                <input placeholder="Nome" type="text" name="input-nome" [(ngModel)]="cliente.nome" maxlength="50" required>
            </div>

            <div class="input-box">
                <input placeholder="Telefone" type="text" name="input-telefone" [(ngModel)]="cliente.telefone" maxlength="11" required>
            </div>

            <div class="input-box">
                <input placeholder="Endereço" type="text" name="input-endereco" [(ngModel)]="cliente.endereco" maxlength="30" required>
            </div>

            <button type="button" class="login" id="cadastroButton"
                [disabled]="!cliente.email || !cliente.senha || !cliente.nome || !cliente.telefone || !cliente.endereco"
                (click)="submeterCli()">
                Cadastrar</button>

            <div class="register-link">
                <p>Já possui cadastro?<a href="./login.html"> Login</a></p>
            </div>
        </form>
    </main>
</body>